@import "./fonts";

.ultima {
  font-family: 'SFAlienEncounters';
  background: -webkit-linear-gradient(rgb(241, 212, 245), rgb(162, 83, 135));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em; 
  font-size: 20vw;
}