  .ultima {
  font-family: 'SFAlienEncounters';
  background: -webkit-linear-gradient(rgb(241, 212, 245), rgb(162, 83, 135));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5em; 
  font-size: 20vw;
}

input, .input {
  &:active, &:focus {
    border: 1px solid #a25387;
    box-shadow: 0 0 0 0.125em rgba(162, 83, 135, 0.25)
  }
}